#seattle {
	background-color: red;
	height: 200px;
}

#mumbai {
	background-color: blue;
	height: 200px;
}

#tokyo {
	background-color: green;
	height: 200px;
}

.cityimages {


}

#worldmap {

}

.logo {

}

.dropdown {
	
}