body {
  background: url(images/home_page/world_map.jpg) no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

#wrapper {
  position: relative;
}

header { 
  background-color: #ffea35;
  height: 70px;
  margin-top: -20px;
  padding-top: 10px;
}

.header__logo {
  margin: 20px 0 0 5%;
}

.header__logo a {
  color: #0a40ed;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.main-nav {
  list-style: none;
  margin-bottom: 30px;
  float: left; 
  width: 100%;
  position:relative;
  z-index: 5;
}

.main-nav__places-about-login {
  margin: -35px 0 0 60%;
  list-style: none;
}

.main-nav li {
  float: left;
  margin-right: 10px;
  position: relative;
}

.main-nav li a {
  color: #0a40ed;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.places-dropdown--hover {
  list-style: none;
  position: absolute;
  background-color: #ffea35; 
  margin-top: 45px;
  margin-left: 65px;
  padding-left: 10px;
  padding-right: 20px;
  display: none;
}

.places-dropdown--hover li {
  padding: 1px 0px 0px 0px;
  float: none;
}

.places-dropdown--hover li a {
  display: block; 
  padding: 10px 15px;
  color: #757575; 
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.social-media {
  display: none;
}

.city-trigger--mouseover {
  height: 100px;
  width: 100px;
  position: absolute;
}

#rio {
  margin-left: 36%;
  margin-top: 30%;
}

.rio {
  background: url(images/rio/rio_2.jpg) center no-repeat;
}

#seattle {
  margin: 9% 0 0 14.5%;
  color: grey;
}

.seattle {
  background: url(images/seattle/seattle_6.jpg) center no-repeat;
}

#tokyo {
  margin: 15% 0 0 79%;
}

.tokyo {
  background: url(images/tokyo/tokyo_7.jpg) center no-repeat;
}

#paris {
  margin: 12% 0 0 45%;
}

.paris {
  background: url(images/paris/paris_1.jpg) center no-repeat;
  background-size: 100%;
}

#mumbai {
  margin: 20% 0 0 63%;
  color: grey;
}

.mumbai {
  background: url(images/mumbai/mumbai_4.jpg) center no-repeat;
}

#cape_town {
  margin: 39% 0 0 52%;
}

.cape_town {
  background: url(images/capetown/ct_4.jpg) center no-repeat;
}

.city-bubbles__city {
  height: 80px;
  width: 80px;
  background-color: #ffea35;
  border-radius: 50%;
  display: none;
}

.city-bubbles--hidden a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

.sign-up {
  height: 400px;
  width: 700px;
  margin: 40px auto 0px auto;
  background-color: rgba(255, 0, 0, .7);
  padding-top: 50px;
  display: none;
}

.sign-up__fields {
  list-style: none;
}

.sign-up ul:first-child {
  margin-top: 130px; 
}

.sign-up ul:nth-child(2) {
  margin-top: 30px;
}

.form-input {
  width: 250px;
  height: 40px;
  margin-left: 180px;
}

.sign-up__button {
  border: none;
  height: 40px;
  width: 250px;
  margin-top: 10px;
  margin-left: 100px;
  background-color: #2cdba1;
  color: #5b5b5b;
  font-weight: 560;
}

.login {
  margin-top: 110px;
  margin-left: 20px;
  width: 100px;
  float: left;
  background-color: #939393;
  color: white;
}

footer {
  display: none;
}

.about-content {
  background-color: rgba(255, 0, 0, .4);
  padding-top: 30px;
  padding-bottom: 80px;
}

.about-content h1, .about-content h2 {
  text-align: center;
}

.about-content p {
  font-size: 1.5em;
  width: 60%;
  text-align: center;
  margin-left: 20%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.about-form li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.about-form ul {
  margin-top: 40px;
  margin-left: 20%;
}

.about-form input {
  margin-left: 220px;
  width: 300px;
}

.about-form__address input {
  margin-left: 39px;
}

.about-form__attach input {
  margin-left: 18%;
}

.about-submit {
  margin-left: 50%;
  width: 100px;
}



/* Masonry Layout for City Pages 
 * Source: http://sickdesigner.com/masonry-css-getting-awesome-with-css3/
 */

.city-images--masonry-layout img {
  width: 100%;
  height: auto;
}

.city-images--masonry-layout {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  margin-top: 20px;
}

.city-images--masonry-layout div {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

.city-name {
  text-align: center;
  color: red;
  font-size: 3.8em;
  padding: 20px 0 20px;
}
