body {
  background: url(images/home_page/world_map.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.header__logo {
  margin: 20px 0 0 5%;
}

.header__logo a {
  color: #0a40ed;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.main-nav {
  list-style: none;
  margin-bottom: 30px;
  float: left; 
  width: 100%;
  position:relative;
  z-index: 5;
}

.main-nav__places-about-login {
  margin: -35px 0 0 60%;
  list-style: none;
}

.main-nav li {
  float: left;
  margin-right: 10px;
  position: relative;
}

.main-nav li a {
  color: #0a40ed;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.places-dropdown--hover {
  list-style: none;
  position: absolute;
  background-color: #ffea35; 
  margin-top: 45px;
  margin-left: 65px;
  padding-left: 5px;
  display: none;
}

.places-dropdown--hover li {
  padding: 1px 0px 0px 0px;
  float: none;
}

.places-dropdown--hover li a {
display: block; 
padding: 10px 15px;
color: #757575; 
text-decoration: none;
font-size: 1em;
font-family: 'Roboto', sans-serif;
}

.social-media {
  display: none;
}

.city-icon--mouseover {
  height: 70px;
  width: 70px;
  position: absolute;
}

#rio {
  height: 90px;
  width: 90px;
  margin-left: 25%;
  margin-top: 44%;
}

#seattle {
  margin: 9% 0 0 14.5%;
}

#tokyo {
  height: 70px;
  width: 70px;
  margin: 15% 0 0 79%;
}

#paris {
  margin: 12% 0 0 45%;
}

#mumbai {
  margin: 23% 0 0 65%;
}

#cape_town {
  height: 65px;
  width: 70px;
  margin: 39% 0 0 52%;
}

.city-bubbles__city {
  height: 100px;
  width: 100px;
  background-color: #ffea35;
  border-radius: 50%;
  display: none;
}

.city-bubbles--hidden a {
  text-decoration: none;
  padding: 50px 0 0 50px;
}

.sign-up {
  height: 400px;
  width: 700px;
  margin: 40px auto 0px auto;
  background-color: rgba(255, 0, 0, .7);
  padding-top: 50px;
  display: none;
}

.sign-up__fields {
  list-style: none;
}

.sign-up ul:first-child {
  margin-top: 130px; 
}

.sign-up ul:nth-child(2) {
  margin-top: 30px;
}

.form-input {
  width: 250px;
  height: 40px;
  margin-left: 180px;
}

.sign-up__button {
  border: none;
  height: 40px;
  width: 250px;
  margin-top: 10px;
  margin-left: 100px;
  background-color: #2cdba1;
  color: #5b5b5b;
  font-weight: 560;
}

.login {
  margin-top: 110px;
  margin-left: 20px;
  width: 100px;
  float: left;
  background-color: #939393;
  color: white;
}

footer {
  display: none;
}




/* Masonry Layout for City Pages 
 * Source: http://sickdesigner.com/masonry-css-getting-awesome-with-css3/
 */

.city-images--masonry-layout img {
  width: 100%;
  height: auto;
}

.city-images--masonry-layout {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  margin-top: 20px;
}

.city-images--masonry-layout div {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

.city-name {
  text-align: center;
  color: #4d4d4d;
  font-size: 3em;
  padding: 20px 0 20px;
}
